{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.pinimg.com/736x/4f/11/9a/4f119a51b4ca6b6135dc91584195d5d6.jpg);
    background-size: cover;
    background-position: center;
}
